@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz@1,6..12&family=Poppins:wght@300;400&family=Satisfy&display=swap");
.line::after,
.line::before {
  content: " ";
  height: 2.5px;
  background: #000;
  display: block;
  position: absolute;
}
.relativContainer {
  position: relative;
}
.absolutePosition {
  position: absolute;
}
.line::after {
  width: 100%;
  top: 50%;
  left: 10%;
}

.line::before {
  width: 35%;
  top: 50%;
  left: -35.5%;
}

.lineHoverAnimation:hover h3 {
  transform: translateX(30%);
}
.heading2 {
  font-size: 6.8rem;
  text-transform: capitalize;
  font-weight: 400;
  color: #000;
  transition: 0.4s;
  letter-spacing: 1px;
}
.lineHoverAnimationImgOverlay:hover h3 {
  transform: translateX(21rem);
}

.primarySectionHeader {
  font-size: 14rem;
  font-weight: 400;
  letter-spacing: 0.7px;
  margin-bottom: 4rem;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  color: #000;
}
.rightText {
  text-align: right;
}
.leftText {
  text-align: left;
}
.pannelHover {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 0.6s;
}
.homePannelColor {
  background-color: #ede9e936;
}
.storyPannelColor {
  background-color: #00000087;
}

@media screen and (max-width: 1400px) {
  .heading2 {
    font-size: 5.7rem;
  }
}
@media screen and (max-width: 1360px) {
  .storyData h3 {
    transform: translateX(8rem);
  }
}
@media screen and (max-width: 1266px) {
  .heading2 {
    font-size: 5rem;
  }
}
@media screen and (max-width: 1044px) {
  .heading2 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 1220px) {
  .primarySectionHeader {
    font-size: 10rem;
  }
}
@media screen and (max-width: 986px) {
  .primarySectionHeader {
    font-size: 8rem;
  }
}
@media screen and (max-width: 895px) {
  .heading2 {
    font-size: 3.4rem;
    pointer-events: none;
  }
}
@media screen and (max-width: 712px) {
  .primarySectionHeader {
    font-size: 6rem;
  }
}
@media screen and (max-width: 431px) {
  .primarySectionHeader {
    font-size: 4rem;
  }
  .heading2 {
    font-size: 2.6rem;
    pointer-events: none;
  }
}
@media screen and (max-width: 319px) {
  .primarySectionHeader {
    font-size: 4rem;
  }
  .heading2 {
    font-size: 2rem;
    pointer-events: none;
  }
  .line::after,
  .line::before {
    height: 1.5px;
  }
}
