.contact {
  height: 100vh;
  width: 100vw;
  text-align: center;
}
.contact div:nth-child(2),
.contact div:nth-child(3) {
  margin: 2rem 6rem;
  overflow-x: hidden;
}

.contact div:nth-child(2) h3::before {
  width: 50%;
  left: -23%;
}
.contact div:nth-child(2) h3::after {
  left: 74%;
}
.lineHoverAnimation:hover h3 {
  transform: translateX(20rem) !important;
}
.contact ul {
  text-align: left;
  margin: 3rem;
}
.contact ul li h3 {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 1.7px;
  text-transform: capitalize;
  font-family: "poppins";
  position: relative;
  transition: 0.4s;
  transform: translateX(2rem);
}
.contact ul li:nth-child(1) h3:after {
  left: 12rem;
}
.contact ul li:nth-child(2) h3:after {
  left: 18rem;
}
.contact ul li:nth-child(3) h3:after {
  left: 16rem;
}
@media screen and (max-width: 1550px) {
  .contact div:nth-child(2) h3::before {
    left: -26%;
  }
  .contact div:nth-child(2) h3::after {
    left: 74%;
  }
}
@media screen and (max-width: 1400px) {
  .contact div:nth-child(2) h3::after {
    left: 76%;
  }
}
@media screen and (max-width: 1266px) {
  .contact div:nth-child(2) h3::after {
    left: 79%;
  }
}
@media screen and (max-width: 1044px) {
  .contact div:nth-child(2) h3::after {
    left: 72%;
  }
  .contact div:nth-child(2) h3::before {
    left: -22%;
  }
}
@media screen and (max-width: 1010px) {
  .contact div:nth-child(2) h3::after {
    left: 75%;
  }
  .contact div:nth-child(2) h3::before {
    left: -27%;
  }
}
@media screen and (max-width: 788px) {
  .contact {
    height: fit-content;
  }
  .contact div:nth-child(2) h3::after {
    display: none;
  }
  .contact div:nth-child(2) h3::before {
    display: none;
  }
  .contact div:nth-child(2),
  .contact div:nth-child(3) {
    margin: 2rem 3rem;
  }
  .contact ul li:hover h3 {
    transform: translateX(7rem);
  }
  .contact ul li:nth-child(1) h3:after {
    left: 9rem;
  }
  .contact ul li:nth-child(2) h3:after {
    left: 13rem;
  }
  .contact ul li:nth-child(3) h3:after {
    left: 12rem;
  }
  .contact ul li h3 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 319px) {
  .contact ul li h3 {
    font-size: 1.7rem;
  }
  .contact ul li:nth-child(1) h3:after {
    left: 7rem;
  }
  .contact ul li:nth-child(2) h3:after {
    left: 11rem;
  }
  .contact ul li:nth-child(3) h3:after {
    left: 10rem;
  }
}
