.header {
  object-fit: contain;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  overflow-x: hidden;
}
.header div {
  overflow-y: hidden;
  border-right: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header p:nth-child(2) {
  margin: 16rem auto;
  font-size: 12rem;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.homeBackGround {
  height: 100vh;
}
.homeBackGround img {
  height: 100vh;
  overflow: hidden;
}
.homeBackGround p {
  color: #fff;
}
.storyBackGround {
  height: 70vh;
  background-image: none;
  color: #000;
  background-color: #fff;
  border-bottom: 2px solid #000;
}

.storyName {
  text-align: center;
  font-size: 22rem;
  letter-spacing: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1025px) {
  .storyName {
    font-size: 18rem;
  }
}
@media screen and (max-width: 860px) {
  .header p {
    font-size: 7rem;
  }
  .header div {
    height: 100%;
  }
}
@media screen and (max-width: 541px) {
  .header p {
    font-size: 5rem;
  }
  .header div {
    height: 100%;
  }
}
@media screen and (max-width: 502px) {
  .header p {
    font-size: 6rem;
  }
}
@media screen and (max-width: 321px) {
  .header p {
    font-size: 5rem;
  }
}
@media screen and (max-width: 332px) {
  .header p {
    font-size: 4rem;
  }
}
@media screen and (max-width: 280px) {
  .header p {
    font-size: 3rem;
  }
}
