.header {
  width: 100vw;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem 8rem;
  color: #000;
  position: fixed;
  top: 0;
  z-index: 99;
}
.headerLogoContainer,
.NavContainer {
  position: relative;
}

.header h1 {
  position: absolute;
  font-size: 2rem;
  font-weight: bold;
  z-index: 3;
  color: #000;
}
.fadeBack,
.fadeBackbtn {
  position: absolute;
  border-radius: 100%;
  height: 55px;
  width: 55px;
  background-color: #ffffff;
  filter: blur(8px);
  z-index: 0;
}
.fadeBackbtn {
  height: 40px;
  width: 40px;
}
.header h1,
.fadeBack,
.fadeBackbtn {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.NavContainer button {
  width: 3.4rem;
  height: 3.4rem;
  border: 2.7px solid #000;
  cursor: pointer;
  z-index: 99;
  position: relative;
}
.NavContainer button,
.NavContainer button span {
  background-color: transparent;
  border-radius: 100%;
}
.NavContainer button span {
  display: block;
  width: 2rem;
  height: 2rem;
  border: 2px solid #000;
  transition: 0.3s;
  margin: 0 auto;
}
.nav button span:hover {
  width: 1.4rem;
  height: 1.4rem;
}
.navContainerInner {
  background-color: rgb(255, 255, 255);
  position: absolute;
  padding: 12rem 4rem;
  z-index: 9;
  width: 100%;
  height: fit-content;
}
.navContainerInner ul {
  max-width: 720rem;
  overflow: hidden;
}
.navContainerInner ul li h3 {
  font-size: 2.8rem;
  font-weight: 400;
  letter-spacing: 1.7px;
  text-transform: capitalize;
  font-family: "poppins";
  position: relative;
  margin-bottom: 1rem;
  margin-left: 3rem;
  transition: 0.4s;
}

.navContainerInner ul li:nth-child(3) h3::after {
  left: 13%;
}
.navContainerInner ul li:nth-child(4) h3::after {
  left: 7%;
}
.navContainerInner ul li:nth-child(5) h3::after {
  left: 12%;
}

/* margin 3  left -26.5% */
/* margin 40  left 36% */
